#darkMode {
    background: transparent url("../Font_Awesome_5_solid_moon.svg.png") no-repeat center;
    background-size: 30px 30px;
    width: 45px;
    height: 45px;
    filter: grayscale(100%);
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode:hover,
#darkMode:focus {
    filter: none;
    background-color: black;
    cursor: pointer;
}

#darkMode.clicked {
    filter: none !important;
    background-color: black;
    
}

.switch-theme button {
    width: 7rem;
    height: 1.5rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: #03e9F4;
    margin-bottom: 1rem;
    transition: 0.4s;
}

.switch-theme button:hover {
    background: #03e9F4;
    color: #050801;
    box-shadow: 0 0 25px #03e9F4;
    
}
